<html>
  <body>
    <% records.forEach(record => { %>
      <h2>UserName: <%= record.userName %></h2>
      <p>Address: <%= record.address %></p>
      <p>Message: <%= record.message %></p>
    <% }); %>
  </body>
</html>
