<html>
  <head>
    <title>Error</title>
    <script>
      setTimeout(function() {
        window.location.href = "/";
      }, 5000); // Redirect after 5 seconds (5000 milliseconds)
    </script>
  </head>
  <body>
    <h1><%= statusCode %></h1>
    <p><%= errorMessage %></p>
    <p>Redirecting back to the index page in 5 seconds...</p>
  </body>
</html>
